*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body{
    margin: 0;

}

.section1{
height: 80px;
background-image: url(Head.jpg);
margin: 0;
padding: 1px;

}

.container{
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    display: flex;
    justify-content: space-between;

}

.titulli{
    width: 40%;
}

p{
    margin: 0;
    color: white;
    font-size: 40px;
 
}

.nav li a:hover{
    background-color: black;
    color: white;
    border: 1px white solid;
}

nav ul li{
    display: inline-block;
    padding: 4px 4px;
    float: right;
    margin-top:20px ;
}

nav ul li a{
    text-decoration: none;
    color: black;
    border: black solid 1px;
    padding: 9px 3px;
    background: white;
    border-radius: 12px;
}

.section2{
   background-image: url(News.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   height: 100vh;
   display: flex;
   z-index: 1;
   justify-content: space-around;
}

.card-container{
    
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 60px;
    z-index: 1;
    width: 380px;
}

.card{
    width: 300px;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 10px;
    z-index: 1;  
}

.card img{
 width: 94%;
 height: 360px;
 align-self: center;
 padding-top:12px;
 padding-left: 16px;
 padding-bottom: 14px;
 overflow: hidden;
 transition: transform 0.2s ease-in-out;
}

  .card:hover img {
    transform: scale(1.13); 
  }

.card-content{
    padding: 1px;
    text-align: center;
}

.card-content h3{
    font-size: 18px;
    margin-bottom: 4px;
}

.section3{
    height: 400px;
    background-color: rgb(185, 185, 183);
    margin: 0;
    padding: 1px;
}

#contact-form{
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
}

#form-row{
    display: flex;
}

input[type='text'], input[type='email'] {
    width: 46%;
    height: 56px;
}

input[type='text'], input[type='email'], textarea{
    color: black;
    background-color: white;
    border: 1px solid black;
    font-size: 18px;
    margin: 16px;
    border-radius: 5px;
    padding-left: 26px;
}

textarea{
    height: 200px;
    width: 100%;
    padding-top: 24px;
}

#big-button{
    padding: 10px 100px;
    color: black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    background-color: white;
    font-size: 14px;
    border-radius: 18px;
}


.section4{
    background-color: #f0f0f0;
     height: 250px;
     z-index: 1;
 }
 
 .footer{
    display: flex;
    text-align: center;
    justify-content: space-around;
 }

.first, .second, .third{
    text-align: center;
    justify-content: space-around;
    box-sizing: border-box;
    font-size: 20px;
}

.first{
    margin: 10px;
    padding: 60px 40px;
    width: 340px;
    height: 100px;
}

.first a{
    text-decoration: none;
    color: black;
}


.firsttext, .secondtext, .thirdtext{
   background-color: rgb(185, 185, 183);
   border: 1px dotted black;
   padding: 10px;
}

.second{
    margin: 10px;
    padding: 60px;
    width: 280px;
    height: 100px;
}

.third{
    margin: 10px;
    padding: 70px;
    height: 100px;
}

.third img{
    width: 25px;
    height: 25px;
}